<h1>Novels</h1>
<%= button_to "New Novel", new_novel_path, class: "btn btn-primary" %>
<ul>
  <% @novels.each do |novel| %>
    <li><%= button_to novel.title, novel_path(novel) %></li>
  <% end %>
</ul>
