<h1>Chapters for <%= @novel.title %></h1>

<%= button_to "Add New Chapter", new_novel_chapter_path(@novel), class: "btn btn-success" %>

<ul>
  <% @chapters.each do |chapter| %>
    <li>
      <%= button_to chapter.title, novel_chapter_path(@novel, chapter) %>
    </li>
  <% end %>
</ul>

<%= button_to "Back to Novel", novel_path(@novel), class: "btn btn-secondary" %>
